.redo {
    color:black;
    font-size: 100px;
    border:20px solid plum;

}
.my-red-button{
    background-color: red;
    color:white;
    font-size: 20px;
    border-radius: 22px;
    padding: 20px 34px;
   
}
.click{
    text-align: center;
    background-color: yellow;
    color:black;
    font-size: 20px;
    border-radius: 12px;
    padding:10px 24px;
    
}
.center{
    display:block;
    margin-left: auto;
    margin-right:auto;
    
}
